$tabs-nav-list-padding-size: 10px;
$tabs-nav-item-about-width: 111px;
$tabs-nav-item-find-width: 99px;
$tabs-nav-item-languages-width: 153px;
$tabs-nav-item-tools-width: 106px;
$tabs-nav-item-stats-width: 105px;

:root {
  --container-height: 320px;
  --container-height-max: 430px;
  --header-font-color: #ffffff;
  --header-font-family: "Trebuchet MS", system-ui, -apple-system;
  --header-font-size: 40px;
  --header-letter-spacing: 2px;
  --intro-font-color: #ffffff;
  --intro-font-family: "Trebuchet MS", system-ui, -apple-system;
  --intro-font-size: 24px;
  --tabs-list-background-color: #f5f5f5;
  --tabs-item-font-family: Arial, Helvetica, system-ui, -apple-system;
}

// #region Container
.container {
  &-outside {
    width: 100%;
    height: var(--container-height);
  }

  &-inside {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #fc5c7d, #6a82fb, #05dfd7);
    background-size: 600% 400%;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
  }

  &-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  &-tabs {
    margin-right: -50%;
    box-sizing: border-box;
    opacity: 0;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
  }
}
// #endregion Container

// #region Tab nav
.tabs {
  &-nav {
    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--tabs-list-background-color);
      border: none;
      border-radius: 160px;
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
    }
    &-item {
      display: inline-block;
      color: #333333;
      font-family: var(--tabs-item-font-family);
      font-size: 18px;
      border-radius: 160px;
      padding-top: 9.5px;
      padding-bottom: 9.5px;
      padding-left: 32px;
      padding-right: 32px;
      border: none;
      outline: none;
      z-index: 2;
    }
    &-slider {
      display: inline-block;
      width: $tabs-nav-item-about-width;
      height: 40px;
      background-color: yellowgreen;
      border-radius: 160px;
      position: absolute;
      left: 10;
      z-index: 1;
    }
  }
}
// #endregion Tab nav

// #region Content wrapper styles
.content {
  &-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
  }
}
// #endregion Content wrapper styles

// #region Intro content
@mixin header-base() {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--header-font-color);
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  line-height: 1;
  letter-spacing: var(--header-letter-spacing);
  text-align: center;
  position: absolute;
  visibility: hidden;
  top: 140%;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%) translateY(-50%);
}

.header {
  &-hello {
    @include header-base();
  }

  &-name {
    @include header-base();
  }
}

.intro {
  &-container {
    display: flex;
    flex-direction: row;

    &:first-of-type {
      margin-top: 40px;
    }
  }

  &-content {
    margin-bottom: 0;
    color: var(--intro-font-color);
    font-family: var(--intro-font-family);
    font-size: var(--intro-font-size);
    line-height: 1;
    opacity: 0;
  }
}
// #endregion Intro content

/* Animation */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes headerHelloShow {
  0% {
    visibility: visible;
    top: 140%;
  }

  100% {
    visibility: visible;
    top: calc(50% - 24px);
  }
}

@keyframes headerHelloMove {
  0% {
    visibility: visible;
    top: calc(50% - 24px);
  }

  100% {
    visibility: visible;
    top: 16px;
    left: 59px;
  }
}

@keyframes headerNameShow {
  0% {
    visibility: visible;
    top: 140%;
  }

  100% {
    visibility: visible;
    top: calc(50% + 24px);
  }
}

@keyframes headerNameMove {
  0% {
    visibility: visible;
    top: calc(50% + 24px);
  }

  100% {
    visibility: visible;
    top: 16px;
    left: 294px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hiddenIt {
  100% {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@keyframes biggerContainer {
  100% {
    height: var(--container-height-max);
  }
}

@keyframes tabsMoveUp {
  0% {
    bottom: -60px;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    bottom: -30px;
  }
}

// #region Slider move animation keyframes
$slider-move-find-length: $tabs-nav-list-padding-size + $tabs-nav-item-about-width;
@keyframes sliderMoveToFind {
  0% {
    left: $tabs-nav-list-padding-size;
    width: $tabs-nav-item-about-width;
  }

  100% {
    left: $slider-move-find-length;
    width: $tabs-nav-item-find-width;
  }
}

$slider-move-languages-length: $slider-move-find-length + $tabs-nav-item-find-width;
@keyframes sliderMoveToLanguages {
  0% {
    left: $slider-move-find-length;
    width: $tabs-nav-item-find-width;
  }

  100% {
    left: $slider-move-languages-length;
    width: $tabs-nav-item-languages-width;
  }
}

$slider-move-tools-length: $slider-move-languages-length + $tabs-nav-item-languages-width;
@keyframes sliderMoveToTools {
  0% {
    left: $slider-move-languages-length;
    width: $tabs-nav-item-languages-width;
  }

  100% {
    left: $slider-move-tools-length;
    width: $tabs-nav-item-tools-width;
  }
}

$slider-move-stats-length: $slider-move-tools-length + $tabs-nav-item-tools-width;
@keyframes sliderMoveToStats {
  0% {
    left: $slider-move-tools-length;
    width: $tabs-nav-item-tools-width;
  }

  100% {
    left: $slider-move-stats-length;
    width: $tabs-nav-item-stats-width;
  }
}
// #endregion Sloder move animation keyframes

.container {
  &-outside {
    animation-name: biggerContainer;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 8.5s;
    animation-fill-mode: forwards;
  }

  &-inside {
    animation: gradientBackground 10s ease infinite;
  }

  &-tabs {
    animation-name: tabsMoveUp;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 9s;
    animation-fill-mode: forwards;
  }
}

.tabs {
  &-nav {
    &-slider {
      animation-name: sliderMoveToFind, sliderMoveToLanguages, sliderMoveToTools, sliderMoveToStats;
      animation-duration: 0.4s;
      animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1.15);
      animation-delay: 10s, 10.8s, 11.6s, 12.4s;
      animation-fill-mode: forwards;
      // animation-iteration-count: infinite;
    }
  }
}

.content {
  &-intro {
    animation-name: fadeOut, hiddenIt;
    animation-duration: 1s, 0.1s;
    animation-timing-function: linear;
    animation-delay: 8s, 9s;
    animation-fill-mode: forwards;
  }
}

.header {
  &-hello {
    animation-name: headerHelloShow, headerHelloMove;
    animation-duration: 1.3s, 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s, 1.6s;
    animation-fill-mode: forwards;
  }

  &-name {
    animation-name: headerNameShow, headerNameMove;
    animation-duration: 1s, 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s, 2s;
    animation-fill-mode: forwards;
  }
}

.intro {
  &-content {
    animation-name: fadeIn;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  &-container {
    &.one {
      & > .intro-content {
        animation-duration: 0.5s;
        animation-delay: 3s;
      }
    }

    &.two {
      & > .intro-content {
        animation-duration: 0.5s;
        animation-delay: 3.8s;
      }
    }

    &.three {
      & > .intro-content {
        animation-duration: 0.5s;
        animation-delay: 4.6s;
      }
    }

    &.four {
      & > .intro-content {
        animation-duration: 0.5s;
        animation-delay: 5.4s;
      }
    }
  }
}
